#import string, re
#from CollocationCandidateHelpers import *
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Collocation Review</title>
  <style>
  body { direction: rtl; margin: 0px; width: 100%; font-size: 30px}
  div.header {width: 100%; color: white; background: black; padding: 10px; position: fixed}
 
  div.header a:link, a:visited {text-decoration: none; color: white}
  div.header a:hover {text-decoration: underline}

	h1 {font-size: 30px; color: LightGrey; font-weight: normal; clear: both; padding-top:50px}

  div.content {padding: 20px;}
	div.coll_group {}

  div.box { width: 350px; float: right; border: 1px solid black; margin: 20px; min-height: 250px}

  div.box-title, div.box-content { margin: 0px; padding: 10px; }

  div.box-title { border-bottom: 1px solid black; font-size: 23px; }
  div.box-title.got-fb-useful { background-color: green ; font-weight: bold}
  div.box-title.got-fb-correct { background-color: LightGreen ; font-weight: bold}
  div.box-title.got-fb-wrong { background-color: DarkRed }

  div.box-content { font-size: 15px; line-height: 25px; }
  div.box-content.got-fb-correct { color: green }
  div.box-content.got-fb-wrong { color: DarkRed }
  
  span.collocation { }  

  span.example { }
  span.collocation_word { font-weight: bold }

  span.coll-fb-buttons { float:left;}
  button { border: 0px; height: 30px; margin: 0px; background-color: transparent; }
  button:hover { background-color: LightGrey }
  button.fb-useful { color: green; }
  button.fb-correct { color: LightGreen; }
  button.fb-wrong { color: DarkRed; }  

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
#raw
  <script type="text/javascript">
		function rate_collocation(_id, rating)
		{
			$.ajax({
				type: "POST",
				url: "rate_collocation",
				data: {"_id": _id, "rating": rating}
			});
			$("#coll-" + _id).attr("class", "box-title got-fb-" + rating);
		}

		function rate_example(_id, ic_key, ref, rating)
		{
			$.ajax({
				type: "POST",
				url: "rate_example",
				data: {"_id": _id, "ic_key": ic_key, "ref": ref, "rating": rating}
			});
			$("#ex-" + _id).attr("class", "box-content got-fb-" + rating);
		}
  </script>
#end raw
</head>

<body>
<div class="header">
مُرَيجَع
>
<a href="/">
تنقيح المتواردات اللفظية
</a>
>
صفات لاسم "اتفاقية"
</div>

<div class="content">

#def coll_tooltip($c)
	#for $f in $sorted($c.inflected_forms.values, key=lambda ic: ic["freq"], reverse=True)
$f.core_word $f.coll_word ($f.freq)
	#end for
----------
تردد إجمالي: $c.freq
#end def

#def render_coll_box($c)
	#set $id = $c['_id']
	#set $ic_key, $e = $get_example($c)
	<div class="box">
		<div class="box-title got-fb-$get_rating($c)" id="coll-$id">
			<span class="collocation" title="$coll_tooltip($c)"> 
				$get_canonical_form($c)
			</span>
			<span class="coll-fb-buttons">
				<button onclick="rate_collocation('$id', 'useful')" class="fb-useful">&#10004;&#10004;</a>
				<button onclick="rate_collocation('$id', 'correct')" class="fb-correct">&#10004;</a>
				<button onclick="rate_collocation('$id', 'wrong')" class="fb-wrong">&#10008;</a>
			</span>
		</div>
		<div class="box-content got-fb-$get_rating($e)" id="ex-$id">
			<span class="example">
				#if $e
					$pretty_print_example($e)
					<button onclick="rate_example('$id', '$ic_key', '$e.ref', 'correct')" class="fb-correct">&#10004;</button>
					<button onclick="rate_example('$id', '$ic_key', '$e.ref', 'wrong')" class="fb-wrong">&#10008;</button>
				#end if
			</span>
		</div>
	</div>
#end def

#set $candidates = sorted($candidates, key=lambda c: c["freq"], reverse=True)

<div class="coll_group">
<h1> متواردات لفظية لم تقيم بعد</h1>
#for ($n, $c) in $enumerate($candidates):
	#if not "ratings" in $c:
		$render_coll_box($c)
  #end if
#end for
</div>

<div class="coll_group">
<h1> متواردات لفظية تم تقييمها </h1>
#for ($n, $c) in $enumerate($candidates):
	#if "ratings" in $c:
		$render_coll_box($c)
  #end if
#end for
</div>
</div>

</body>
</html>

