#import string
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Collocation Review</title>
  <style>
  body { direction: rtl; margin: 0px; width: 100%; font-size: 30px}
  div.header {width: 100%; color: white; background: black; padding: 10px; position: fixed}

  div.content {padding: 20px; padding-top: 70px; }

  div.box { width: 350px; float: right; border: 1px solid black; margin: 20px}

  div.box-title, div.box-content { margin: 0px; padding: 10px; }

  div.box-title { border-bottom: 1px solid black; font-size: 23px; }
  div.box-title.got-fb-useful { background-color: green ; font-weight: bold}
  div.box-title.got-fb-correct { background-color: LightGreen ; font-weight: bold}
  div.box-title.got-fb-wrong { background-color: DarkRed }

  div.box-content { font-size: 15px; line-height: 25px; }
  div.box-content.got-fb-correct { color: green }
  div.box-content.got-fb-wrong { color: DarkRed }
  
  span.collocation { }  

  span.example { }
  span.collocation_word { font-weight: bold }

  span.coll-fb-buttons { float:left;}
  button { border: 0px; height: 30px; margin: 0px; background-color: transparent; }
  button:hover { background-color: LightGrey }
  button.fb-useful { color: green; }
  button.fb-correct { color: LightGreen; }
  button.fb-wrong { color: DarkRed; }  

  </style>
  
  <script type="text/javascript">
    function set_class(element_id, cls)
    {
        document.getElementById(element_id).className = cls;
    }
  </script>

</head>

<body>
<div class="header">
مُرَيجَع > تنقيح المتواردات اللفظية > صفات لاسم "اتفاقية"
</div>


<div class="content">
#for (($core_lemma, $core_pos), coll_pos_counts) in $cores.items:
<div class="box">
	<div class="box-title">
		<span class="collocation"> 
			$core_lemma			
		</span>
	</div>
	<div class="box-content">
	#for $pos in $coll_pos_counts:
		<a href="candidates?core_lemma=$core_lemma&core_pos=$core_pos&coll_pos=$pos">$pos</a>
	#end for
	</div>
</div>
#end for
</div>

</body>
</html>

