#import string
#import urllib
#set $words = " ".join(lp.partition("+")[0] for lp in $lempos)
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Displaying entry $words</title>
  <style>
  body { direction: rtl; margin: 0px; width: 100%; font-size: 30px}
  input { font-size: 22px ; border: 0px; border-bottom: 1px solid white; background: black; color: white}
  div.header {width: 100%; color: white; background: black;
               font-size: 16px; height: 50px}
  div.content { width: 70%; float: right; padding: 20px; font-size: 16px; line-height: 20px;  }
  div.examples-container { width: 20%; float: left; background: #dddddd; height: 100%;
                padding: 15px}
  div.examples {font-size: 16px; line-height: 25px; }


  a:link, a:visited {text-decoration: none; color: black}
  a:hover {text-decoration: underline}

  div.block { width: 300px; float: right; padding: 10px;
              border: 1px solid black; margin: 20px}

  div.msg { color: grey; text-align: center; margin-top: 100px; font-size: 50px; line-height:	80px}
  h1, div.derived_nouns, span.verbstem, span.verbstem_no, a:link, a:visited { color: #993366 }
  span.core {color: grey}
  h1 { font-size: 23px; margin-bottom: 0px; margin-top: 10px; padding-bottom: 10px; border-bottom: 1px solid black}
  h2 { font-size: 20px; margin-bottom: 0px; margin-top: 20px;}

  div.verbstem_block { line-height: 30px; margin-top: 10px; margin-bottom: 10px	}
  span.verbstem_no { }
  span.verbstem { font-weight: bold; color: white }

  div.derivation_source { margin-top: 0px; font-size: 15px}
  div.derived_nouns {margin-top: 10px}
  div.translations { margin-top: 10px}
  span.translations { }

  div.external_data {margin-top: 10px}
  div.external_data a:link, div.external_data a:visited {color: grey}
  div.provider_name {margin-top: 0px; margin-bottom: 0px; font-size:16px}
  div.provider_content {margin-top: 0px; margin-bottom: 5px; }

  form { padding: 10px}
  div.credit { position: fixed; bottom: 10; left: 10;	font-size: 20px }
  div.credit a {color: grey}

  ul {margin-top: 5px}
  li {margin-top: 5px}

  #table.collocations {width: 100%; font-size: 20px}
  #table.collocations td.meta { color: grey}
  span.core_word { color: black; font-weight: normal }

  #title
  {
    margin-right: 10px;
    color: white;

    position: absolute;
    left:20px;
    top:10px;
    height: 50px;
  }
  #title a { color: white; }

      /* Scrollability of table */
    table { width: 300px; } /* fixed width table */
    thead tr { display: block; } /* makes it sizeable */
    tbody {
      display: block; /* makes it sizeable */
      height: 250px; /* height of scrollable area */
      overflow: auto; /* scroll rather than overflow */
      width: 100%; /* fill the box */
    }
    thead th { width: 250px; } /* fixed width for THs */
    tbody td { width: 242px; } /* fixed width for TDs */
    /* the tbody needs to be 16px less than the thead, for the scrollbar */

    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE" }

    table.sortable tbody {
        counter-reset: sortabletablescope;
    }
    table.sortable thead tr::before {
        content: "";
        display: table-cell;
    }
    table.sortable tbody tr::before {
        content: counter(sortabletablescope);
        counter-increment: sortabletablescope;
        display: table-cell;
        color: grey;
        font-size: 10px;
        vertical-align: bottom
    }
      </style>
    <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    #raw
        function show_examples(coll_id) {
            $("#examples").load("get_examples?coll_id=" + coll_id);
        }
    #end raw
    </script>
</head>

<body>
<div class = "header">

<div id="title">


</div>

<form action="search">
   البحث عن
  <input type="text" name="w" value="$words">
  <input type="submit" value="go">
</form>
</div>

<div class="content">
    <div class="block">
        <h1>
            معلومات عامة
        </h1>
        #for $lp, $f in zip($lempos, $lempos_freqs):
            <p>
                تردد
                #echo $lp.split("+")[0]
                : $f
            </p>
        #end for

    </div>

    #for ($pattern, $core_indexes) in $collocations:
        #set colls = $collocations[($pattern, $core_indexes)]
        #if $len($colls) == 0:
            #continue
        #end if

        <div class="block">
            <h1>
                #set $components = [p.strip() for p in $pattern.split("+")]
                #echo " + ".join(['<span class="core">%s</span>' % p  if n in $core_indexes else p for (n, p) in enumerate($components)])
                #set params = $urllib.urlencode({"lempos": " ".join($lempos).encode("utf-8"), "pattern": $pattern.encode("utf-8"), "core_indexes": ",".join(str(x) for x in $core_indexes)})
                <a href="group_collocations?$params">*</a>
            </h1>
            <p><table class="sortable">
                <thead><tr>
                    <th>coll</th>
                    <th class="sorttable_numeric">freq</th>
                </tr></thead>
                <tbody>
                    ## Hard-coded cut, return only 100 collocation
                    #set $sorted_collocations = $sorted($colls, key=lambda x: -$len(x["instances"]))[:100]
                    #for $c in $sorted_collocations:
                        <tr>
                        <td>
                            #set $coll_lempos = [x for (n, x) in $enumerate($c["lempos"]) if n not in $core_indexes]
                            #set $coll_lemma = " ".join(x.partition("+")[0] for x in coll_lempos)
                            #set $params = $urllib.urlencode({"lempos": " ".join($coll_lempos).encode("utf-8")})
                            <a href="show?$params">
                            #echo $coll_lemma
                            </a>
                        </td>
                        ##<td class="meta">
                          ##echo "%.1f" % $score
                        ##</td>
                        <td class="meta">
                            #set $coll_id=$c["_id"]
                            <a href="#" onclick="show_examples('$coll_id')"> $len($c["instances"])</a>
                        </td>
                        </tr>
                    #end for
                </tbody>
            </table></p>

        </div>

    #end for
</div>

<div class="examples-container">
    أمثلة
    <div class="examples" id="examples"></div>
</div>

<div class="credit">
<img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png" width="100px"/>
</div>

</body>
</html>

