#for $s in $examples:
    #set $idx = $next(c for c in $s["collocations"] if c["pattern"] == $collocation["pattern"] and c["lemmas"] == $collocation["lemmas"])["idx"]
    <p>
        #for ($n, $w) in $enumerate($s["words"])
            #if $n + 1 in $idx
                <b>$w</b>
            #else
                $w
            #end if
        #end for
    </p>
#end for