#import string
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>مُرَيجَع > تقييم المتواردات اللفظية</title>
  <style>
  body { direction: rtl; margin: 0px; width: 100%; font-size: 30px}
  div.header {width: 100%; color: white; background: black; padding: 10px; position: fixed}

  div.content {padding: 20px; padding-top: 70px; font-size:20px}

  div.box { width: 350px; float: right; border: 1px solid black; margin: 20px}

  div.box-title, div.box-content { margin: 0px; padding: 10px; }

  div.box-title { border-bottom: 1px solid black; font-size: 23px; }
  div.box-title.got-fb-useful { background-color: green ; font-weight: bold}
  div.box-title.got-fb-correct { background-color: LightGreen ; font-weight: bold}
  div.box-title.got-fb-wrong { background-color: DarkRed }

  div.box-content { font-size: 15px; line-height: 25px; }
  div.box-content.got-fb-correct { color: green }
  div.box-content.got-fb-wrong { color: DarkRed }

  input {font-size: 20px}

  span.collocation { }  

  span.example { }
  span.collocation_word { font-weight: bold }

  span.coll-fb-buttons { float:left;}
  button { border: 0px; height: 30px; margin: 0px; background-color: transparent; }
  button:hover { background-color: LightGrey }
  button.fb-useful { color: green; }
  button.fb-correct { color: LightGreen; }
  button.fb-wrong { color: DarkRed; }  

  </style>

</head>

<body>
<div class="header">
مُرَيجَع > تقييم المتواردات اللفظية > تعريف المستخدم
</div>


<div class="content">
	<p>
	شكرا جزيلا لاهتمامك بمشروع مريجع الساعي إلى إنشاء قاموس متواردات لفطية عربية رقمية وهذا بالاعتماد على المدونات اللغوية.
	</p>
	<p>
		قبل ان تبدأ(ين) نرجوك أن تعرف(ين) عن نفسك:
	</p>
	<form method="get" action="set_user_info">
		<p> الاسم الكريم </p>
	  <p><input type="text" value="$user_name" name="user_name" /></p>
	  <p> الإيمايل </p>
	  <p><input type="text" value="$user_email" name="user_email"/></p>
	  <button type="submit">إرسال</button>
	</form>

</div>

</body>
</html>

